:root {
  --scroll-position: 0;
}

.monthRowContainer {
  overflow-x: hidden;
  width: 500px;
}

.monthRow {
  display: flex;
  transform: translateX(calc(var(--scroll-position) * -500px));
  transition: transform 0.25s;
}

.monthRow::-webkit-scrollbar {
  display: none;
}

.monthContainer {
  flex: 0 0 250px;
  /* border: 2px solid red; */
}
