:root {
  --scroll-position: 0;
}

.monthRowContainer {
  overflow-x: hidden;
  width: calc(660px - 64px);
}

.monthRow {
  display: flex;
  transform: translateX(calc(var(--scroll-position) * -1 * 636px));
  transition: transform 0.25s;
  position: relative;
  left: -23px;
}

.monthRow::-webkit-scrollbar {
  display: none;
}

.monthContainer {
  flex: 0 0 calc((660px - 64px) / 2);
  padding-left: 10px;
  padding-right: 10px;
}
