/* .focused {
  border: 3px solid black;
  border-radius: 7px;
  width: 157px;
  height: 56px;
  padding: 10px;
} */

/* .unfocused {
  border: 1px solid black;
  width: 157px;
  height: 56px;
  padding: 10px;
} */

.dateInputContainer {
  /* border: 1px solid black; */
  width: 157px;
  height: 56px;
  padding: 10px;
}

.dateInputLabel {
  pointer-events: none;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'RedHatDisplay-Bold', 'Helvetica Neue', Arial, sans-serif;
}

.inputForm {
  display: grid;
  height: 2.5rem;
  grid-template: 1fr 1fr / 5fr 1fr;
}

.inputLabel {
  grid-area: 1 / 1 / span 1 / span 1;
}

.inputField {
  grid-area: 2 / 1 / span 1 / span 1;
  display: inline-block;
  border: 0;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  width: 97px;
  height: 18px;
}

.inputClear {
  grid-area: 1 / 2 / span 2 / span 1;
}
