.DatesContainer {
  display: inline-block;
  outline: none;
}

.keyboardIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('./img/kb_no-hover.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.keyboardIcon:hover {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('./img/kb_hover.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dayLabelRelativeContainer {
  position: relative;
}

.dayLabelAbsoluteContainer {
  position: absolute;
  top: 40px;
  left: 14px;
  width: 472px;
}

.dayLabelFlexContainer {
  display: flex;
  /* position: relative; */
  /* display: block; */
  justify-content: space-between;
}

.dayLabel {
  display: inline-block;
  /* border: 1px solid blue; */
  width: 220px;
}

.calendarMovementButtonAbsoluteContainer {
  position: absolute;
  top: 12px;
  left: 14px;
  width: 472px;
}

.calendarMovementButtonContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 472px;
  z-index: 5;
  /* border: 1px solid blue; */
}
