.fixedInPlaceDatesContainer {
  width: 319px;
  height: 62px;
  margin: 0;
  padding: 0;
  border: 0;
}

.DatesContainerMinimized {
  display: inline-block;
  position: relative;
  outline: none;
  margin-top: 14px;
}

.DatesContainerMaximized {
  display: inline-block;
  position: absolute;
  top: 71px;
  right: -10px;
  outline: none;
  margin-top: 14px;
  border: 0;
  border-radius: 16px;
  padding: 24px 32px 16px;
  width: calc(367px - 48px);
  background-color: #fff;
  width: 661px;
  height: 464px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 16px;
}

.dateInputOuterGridContainer {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

.selectDatesContainer {
  grid-area: 1 / 1 / span 1 / span 1;
}

.borderDatesContainer {
  padding: 0;
  width: calc(367px - 48px);
  height: 57px;
  grid-area: 1 / 2 / span 1 / span 1;
}

.dateInputInnerGridContainer {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

.checkInInputBorder {
  grid-area: 1 / 1 / span 1 / span 1;
  border-top: 1px solid #b0b0b0;
  border-right: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  border-left: 1px solid #b0b0b0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  position: relative;
}

.checkInInputBorderInputHasFocus {
  grid-area: 1 / 1 / span 1 / span 1;
  border-top: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  border-left: 1px solid #b0b0b0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  position: relative;
}

.checkOutInputBorder {
  grid-area: 1 / 2 / span 1 / span 1;
  border-top: 1px solid #b0b0b0;
  border-right: 1px solid #b0b0b0;
  border-bottom: 1px solid #b0b0b0;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  position: relative;
}

.checkInInputFocused {
  border: 2px solid black;
  border-radius: 7px;
  position: absolute;
  top: -2px;
  left: -2px;
}

.checkOutInputFocused {
  grid-area: 1 / 2 / span 1 / span 1;
  border: 2px solid black;
  border-radius: 7px;
  position: absolute;
  top: -2px;
  left: -2px;
}

.checkInInputUnfocused {
  position: relative;
}

.checkOutInputUnfocused {
  position: relative;
}

.keyboardIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('./img/kb_no-hover.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.keyboardIcon:hover {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('./img/kb_hover.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dayLabelRelativeContainer {
  position: relative;
}

.dayLabelAbsoluteContainer {
  position: absolute;
  top: 40px;
  left: 14px;
  width: 472px;
}

.dayLabelFlexContainer {
  display: flex;
  justify-content: space-between;
}

.dayLabel {
  display: inline-block;
  width: 220px;
}

.calendarMovementButtonAbsoluteContainer {
  position: absolute;
  top: 12px;
  left: 14px;
  width: 472px;
}

.calendarMovementButtonContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 472px;
  z-index: 5;
}
