.dayBlock, .dayLabelBlock {
  display: inline-block;
  width: 18px;
  text-align: center;
  font-family: 'RedHatDisplay-Medium', 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
}

.dayLabelBlock {
  color: rgb(133,133,133);
}
