.dayBlock,
.emptyDayBlock,
.pastDayBlock,
.alreadyBookedDayBlock,
.dayLabelBlock,
.checkInDayBlock,
.checkOutDayBlock,
.inBetweenDayBlock {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-family: 'RedHatDisplay-Medium', 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  border: 1.5px solid transparent;
  position: relative;
  z-index: 32;
}

.dayBlock:hover, .inBetweenDayBlock:hover {
  border: 1.5px solid rgb(34, 34, 34);
  border-radius: 100%;
  cursor: pointer;
  background:rgb(255, 255, 255);
}

.pastDayBlock, .alreadyBookedDayBlock {
  color: rgb(176, 176, 176);
  text-decoration: line-through;
}

.checkInDayBlock, .checkOutDayBlock {
  border: 1.5px solid rgb(34, 34, 34);
  background:rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  border-radius: 100%;
}

.checkInDayBlockBackground {
  display: inline-block;
  width: 22px;
  height: 38px;
  position: absolute;
  background: rgb(247, 247, 247);
  margin-top: 1px;
  margin-left: 20px;
  z-index: 31;
}

.checkOutDayBlockBackground {
  display: inline-block;
  width: 22px;
  height: 38px;
  position: absolute;
  background: rgb(247, 247, 247);
  margin-top: 1px;
  z-index: 31;
}

.inBetweenDayBlockBackground {
  display: inline-block;
  width: 44px;
  height: 38px;
  position: absolute;
  background: rgb(247, 247, 247);
  margin-top: 1px;
  z-index: 31;
}

.dayLabelBlock {
  color: rgb(133,133,133);
  border: 1.5px solid transparent;
}
