.star {
  color: #ff385c;
  font-size: 12px;
  margin-right: 2px;
}

.nightlyPriceAndRatingContainer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nightlyPrice {
  font-family: 'RedHatDisplay-Medium', 'Helvetica Neue', Arial, sans-serif;
  font-size: 24px;
}

.perNight {
  /* color: rgb(34, 34, 34); */
}

.ratingDisplay {
  font-size: 14px;
}

.averageRating {
  /* color: rgb(34, 34, 34); */
  font-family: 'RedHatDisplay-Bold', 'Helvetica Neue', Arial, sans-serif;
  margin-right: 1px;
}

.reviewCount {
  color: rgb(113, 113, 113);
}

.calendarIcon {
  display: inline-block;
  height: 16px;
  width: 16px;
  fill: currentcolor;
  margin-right: 6px;
}

.earliestAvailabilityContainer {
  margin-top: 20px;
}

.earliestAvailability {
  display: flex;
  align-items: flex-start;
  font-size: 12px;
}

.earliestAvailabilityDate {
  margin-right: 4px;
}

.checkInDate {
  text-decoration: underline;
  font-family: 'RedHatDisplay-Medium', 'Helvetica Neue', Arial, sans-serif;
  cursor: pointer;
}
