.monthAndYearHeader,
.monthBlock,
.weeks {
  box-sizing: border-box;
  font-family: 'RedHatDisplay-Regular', 'Helvetica Neue', Arial, sans-serif;
  color: rgb(34, 34, 34);
}

.monthAndYearHeader {
  display: flex;
  justify-content: center;
  font-family: 'RedHatDisplay-Medium', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  margin-top: 36px;
}

.monthBlock {
  width: calc((660px - 64px) / 2);
  margin: auto;
}

.weeks {
  margin-top: 72px;
}
