.container {
  position: absolute;
  top: 80px;
  right: 80px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  width: 367px;
  /* height: 308px; */
}
