.weekRow {
  box-sizing: border-box;
  font-family: 'RedHatDisplay-Regular', 'Helvetica Neue', Arial, sans-serif;
  color: rgb(34, 34, 34);
}

.weekRow {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
}
